In [1]:
from operator import mul
from functools import reduce

In [4]:
def fact(n):
    return reduce(mul, range(1, n+1))

In [5]:
fact(5)

120

In [6]:
metro_data = [
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
]

In [7]:
from operator import itemgetter

In [9]:
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [10]:
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('BR', 'Sao Paulo')
('IN', 'Delhi NCR')
('JP', 'Tokyo')
('MX', 'Mexico City')
('US', 'New York-Newark')

In [11]:
from functools import partial

In [12]:
double = partial(mul, 2)
[double(n) for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]