In [1]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [2]:
for passport in traveler_ids:
    print('%s/%s' % passport)

USA/31195855
BRA/CE342567
ESP/XDA205856

In [3]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [4]:
import os

In [5]:
path, filename = os.path.split('/users/tianxin/code/example.c')
print(path)
print(filename)

/users/tianxin/code
example.c

In [6]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [7]:
a, b, *rest, c, d = range(10)
print(a, b, rest, c, d)

0 1 [2, 3, 4, 5, 6, 7] 8 9

In [8]:
metro_areas = [
    ('Tokyo','JP',36.933,(35.689722,139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)), 
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]
print(f'{"":15} | {"lat.":^9} | {"long.":^9}')
for city, country, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(f'{city:15} | {latitude:9.4f} | {longitude:9.4f}')

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [9]:
from collections import namedtuple

In [10]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo)

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [11]:
print(tokyo.population)
print(tokyo.coordinates)

36.933
(35.689722, 139.691667)

In [12]:
City._fields

('name', 'country', 'population', 'coordinates')

In [13]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [14]:
tp = (1, 2, 3)
print(tp)
for e in reversed(tp):
    print(e)

(1, 2, 3)
3
2
1